<div class="map_controls">
    <input type="checkbox" ng-model="showControls" selected> Show layers
    <table ng-show="showControls">
        <tr ng-repeat="layer in map.overlayMapTypes track by layer.id">
            <td valign="center"><input type="checkbox" ng-model="layer.show"></td>
            <td valign="center">{{layer.title}}</td>
            <td valign="center"><input
                class="opacity-slider" type="range"
                data-ng-model="layer.opacity"
                data-ng-model-options="{getterSetter: true }" min=0 max=1 step="any"
              ></td>
        </tr>
    </table>
</div>
